params {
  genomes {
    'hg38' {
      fasta       = "/data/person/huz/ecDNA/database/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
      bwa         = "/data/person/huz/ecDNA/database/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/version0.6.0/"
      bowtie2     = "/data/person/huz/ecDNA/database/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/"
      star        = "/data/person/huz/ecDNA/database/Homo_sapiens/UCSC/hg19/Sequence/STARIndex/"
      bismark     = "/data/person/huz/ecDNA/database/Homo_sapiens/UCSC/hg19/Sequence/BismarkIndex/"
      gtf         = "/data/person/huz/ecDNA/database/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.gtf"
      bed12       = "/data/person/huz/ecDNA/database/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.bed"
      readme      = "/data/person/huz/ecDNA/database/Homo_sapiens/UCSC/hg19/Annotation/README.txt"
      mito_name   = "chrM"
      macs_gsize  = "2.7e9"
      blacklist   = "${projectDir}/assets/blacklists/hg19-blacklist.bed"
    }
  }
}
