params {
  genomes {
    'hg38' {
      ac_loci                        = "/data/database/homo_sapiens/GRCh38/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci"
      ac_loci_gc                     = "/data/database/homo_sapiens/GRCh38/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci.gc"
      bwa                            = "/data/database/homo_sapiens/GRCh38/Sequence/BWAIndex/Homo_sapiens_assembly38.fasta.64.{alt,amb,ann,bwt,pac,sa}"
      chr_dir                        = "/data/database/homo_sapiens/GRCh38/Sequence/Chromosomes"
      chr_length                     = "/data/database/homo_sapiens/GRCh38/Sequence/Length/Homo_sapiens_assembly38.len"
      dbsnp                          = "/data/database/homo_sapiens/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
      dbsnp_index                    = "/data/database/homo_sapiens/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
      dict                           = "/data/database/homo_sapiens/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
      fasta                          = "/data/database/homo_sapiens/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
      fasta_fai                      = "/data/database/homo_sapiens/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
      germline_resource              = "/data/database/homo_sapiens/GRCh38/Annotation/SomaticResource/af-only-gnomad.hg38.vcf.gz"
      germline_resource_index        = "/data/database/homo_sapiens/GRCh38/Annotation/SomaticResource/af-only-gnomad.hg38.vcf.gz.tbi"
      variants_for_contamination     = "/data/database/homo_sapiens/GRCh38/Annotation/SomaticResource/small_exac_common_3.hg38.vcf.gz"
      variants_for_contamination_index = "/data/database/homo_sapiens/GRCh38/Annotation/SomaticResource/small_exac_common_3.hg38.vcf.gz.tbi"
      wgs_intervals                  = "/data/database/homo_sapiens/GRCh38/Annotation/intervals/wgs_calling_regions.hg38.interval_list"
      wes_target_bed                 = "/data/database/homo_sapiens/GRCh38/Annotation/intervals/agilent_sure_select/agilentv6_wes_S07604514.hg19liftoverhg38.intervals.bed"
      known_indels                   = "/data/database/homo_sapiens/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
      known_indels_index             = "/data/database/homo_sapiens/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
      mappability                    = "/data/database/homo_sapiens/GRCh38/Annotation/Control-FREEC/out100m2_hg38.gem"
      snpeff_db                      = 'GRCh38.86'
      species                        = 'homo_sapiens'
      vep_cache_version              = '99'
    }
    'hg38_noalt' {
      ac_loci                        = "/data/database/homo_sapiens/GRCh38/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci"
      ac_loci_gc                     = "/data/database/homo_sapiens/GRCh38/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci.gc"
      bwa                            = "/data/person/huz/ref/fasta/GRCh38_noalt/gdc/GRCh38.d1.vd1.fa.{amb,ann,bwt,pac,sa}"
      chr_dir                        = "/data/database/homo_sapiens/GRCh38/Sequence/Chromosomes"
      chr_length                     = "/data/database/homo_sapiens/GRCh38/Sequence/Length/Homo_sapiens_assembly38.len"
      dbsnp                          = "/data/database/homo_sapiens/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
      dbsnp_index                    = "/data/database/homo_sapiens/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
      dict                           = "/data/person/huz/ref/fasta/GRCh38_noalt/gdc/GRCh38.d1.vd1.dict"
      fasta                          = "/data/person/huz/ref/fasta/GRCh38_noalt/gdc/GRCh38.d1.vd1.fa"
      fasta_fai                      = "/data/person/huz/ref/fasta/GRCh38_noalt/gdc/GRCh38.d1.vd1.fa.fai"
      germline_resource              = "/data/database/homo_sapiens/GRCh38/Annotation/SomaticResource/af-only-gnomad.hg38.vcf.gz"
      germline_resource_index        = "/data/database/homo_sapiens/GRCh38/Annotation/SomaticResource/af-only-gnomad.hg38.vcf.gz.tbi"
      variants_for_contamination     = "/data/database/homo_sapiens/GRCh38/Annotation/SomaticResource/small_exac_common_3.hg38.vcf.gz"
      variants_for_contamination_index = "/data/database/homo_sapiens/GRCh38/Annotation/SomaticResource/small_exac_common_3.hg38.vcf.gz.tbi"
      wgs_intervals                  = "/data/database/homo_sapiens/GRCh38/Annotation/intervals/wgs_calling_regions.hg38.interval_list"
      wes_target_bed                 = "/data/person/huz/DNAseq/WES-perfect/08_liftover/S07604624_Covered_human_all_v6_plus_UTR.liftover.to.hg38.no_alt.bed"
      known_indels                   = "/data/database/homo_sapiens/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
      known_indels_index             = "/data/database/homo_sapiens/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
      mappability                    = "/data/database/homo_sapiens/GRCh38/Annotation/Control-FREEC/out100m2_hg38.gem"
      snpeff_db                      = 'GRCh38.86'
      species                        = 'homo_sapiens'
      vep_cache_version              = '99'
    }
    'hg19' {
      ac_loci                        = "/data/database/homo_sapiens/GRCh37/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci"
      ac_loci_gc                     = "/data/database/homo_sapiens/GRCh37/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci.gc"
      bwa                            = "/data/database/homo_sapiens/GRCh37/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.{amb,ann,bwt,pac,sa}"
      chr_dir                        = "/data/database/homo_sapiens/GRCh37/Sequence/Chromosomes"
      chr_length                     = "/data/database/homo_sapiens/GRCh37/Sequence/Length/human_g1k_v37_decoy.len"
      dbsnp                          = "/data/database/homo_sapiens/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf"
      dbsnp_index                    = "/data/database/homo_sapiens/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf.idx"
      dict                           = "/data/database/homo_sapiens/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.dict"
      fasta                          = "/data/database/homo_sapiens/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta"
      fasta_fai                      = "/data/database/homo_sapiens/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.fai"
      germline_resource              = "/data/database/homo_sapiens/GRCh37/Annotation/SomaticResource/af-only-gnomad.raw.sites.vcf"
      germline_resource_index        = "/data/database/homo_sapiens/GRCh37/Annotation/SomaticResource/af-only-gnomad.raw.sites.vcf.idx"
      variants_for_contamination     = "/data/database/homo_sapiens/GRCh37/Annotation/SomaticResource/small_exac_common_3.vcf"
      variants_for_contamination_index = "/data/database/homo_sapiens/GRCh37/Annotation/SomaticResource/small_exac_common_3.vcf.idx"
      wgs_intervals                  = "/data/database/homo_sapiens/GRCh37/Annotation/intervals/wgs_calling_regions_Sarek.list"
      wes_target_bed                 = "/data/database/homo_sapiens/GRCh37/Annotation/intervals/agilent_sure_select/agilentv6_wes_S07604514.hg19.intervals.bed"
      known_indels                   = "/data/database/homo_sapiens/GRCh37/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf"
      known_indels_index             = "/data/database/homo_sapiens/GRCh37/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf.idx"
      mappability                    = "/data/database/homo_sapiens/GRCh37/Annotation/Control-FREEC/out100m2_hg19.gem"
      snpeff_db                      = 'GRCh37.75'
      species                        = 'homo_sapiens'
      vep_cache_version              = '99'
    }
    'hg19_ecDNA' {
      bwa                            = "/data/person/huz/ecDNA/database/hg19/Sequence/BWAIndex/genome.fa.{amb,ann,bwt,pac,sa}"
      dict                           = "/data/person/huz/ecDNA/database/hg19/Sequence/WholeGenomeFasta/genome.dict"
      fasta                          = "/data/person/huz/ecDNA/database/hg19/Sequence/WholeGenomeFasta/genome.fa"
      fasta_fai                      = "/data/person/huz/ecDNA/database/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
      germline_resource              = "/data/database/homo_sapiens/GRCh37/Annotation/SomaticResource/af-only-gnomad.raw.sites.vcf"
      germline_resource_index        = "/data/database/homo_sapiens/GRCh37/Annotation/SomaticResource/af-only-gnomad.raw.sites.vcf.idx"
      variants_for_contamination     = "/data/database/homo_sapiens/GRCh37/Annotation/SomaticResource/small_exac_common_3.vcf"
      variants_for_contamination_index = "/data/database/homo_sapiens/GRCh37/Annotation/SomaticResource/small_exac_common_3.vcf.idx"
      wgs_intervals                  = "/data/database/homo_sapiens/GRCh37/Annotation/intervals/wgs_calling_regions_Sarek.list"
      mappability                    = "/data/database/homo_sapiens/GRCh37/Annotation/Control-FREEC/out100m2_hg19.gem"
      snpeff_db                      = 'GRCh37.75'
      species                        = 'homo_sapiens'
      vep_cache_version              = '99'
    }
    'GRCm38' {
      bwa                     = "/data/person/huz/ref/GRCm38/Ensemble/Sequence/BWAIndex/genome.fa.{amb,ann,bwt,pac,sa}"
      chr_dir                 = "/data/person/huz/ref/GRCm38/Ensemble/Sequence/Chromosomes"
      chr_length              = "/data/person/huz/ref/GRCm38/Ensemble/Sequence/Length/GRCm38.len"
      dbsnp                   = "/data/person/huz/ref/GRCm38/Ensemble/MouseGenomeProject/mgp.v5.merged.snps_all.dbSNP142.vcf.gz"
      dbsnp_index             = "/data/person/huz/ref/GRCm38/Ensemble/MouseGenomeProject/mgp.v5.merged.snps_all.dbSNP142.vcf.gz.tbi"
      dict                    = "/data/person/huz/ref/GRCm38/Ensemble/Sequence/WholeGenomeFasta/genome.dict"
      fasta                   = "/data/person/huz/ref/GRCm38/Ensemble/Sequence/WholeGenomeFasta/genome.fa"
      fasta_fai               = "/data/person/huz/ref/GRCm38/Ensemble/Sequence/WholeGenomeFasta/genome.fa.fai"
      intervals               = "/data/person/huz/ref/GRCm38/Ensemble/Annotation/intervals/GRCm38_calling_list.bed"
      known_indels            = "/data/person/huz/ref/GRCm38/Ensemble/MouseGenomeProject/mgp.v5.merged.indels.dbSNP142.normed.vcf.gz"
      known_indels_index      = "/data/person/huz/ref/GRCm38/Ensemble/MouseGenomeProject/mgp.v5.merged.indels.dbSNP142.normed.vcf.gz.tbi"
      mappability             = "/data/person/huz/ref/GRCm38/Ensemble/Annotation/Control-FREEC/GRCm38_68_mm10.gem"
      snpeff_db               = 'GRCm38.86'
      species                 = 'mus_musculus'
      vep_cache_version       = '99'
    }
  }
}
