
params {
  genome = 'hg19'
  enable_conda = true
  conda_env = "/data/software/conda/miniconda3/envs/dnaseq"
  outdir = "./output"
  publish_dir_mode = "copy"
  pon = false
  pon_idx = false
  exome = true
  mode = "somatic"
  run_orientation_bias = true
}

includeConfig 'conf/genomes.config'

conda {
   useMamba = true
}

process {
  executor = 'pbs'
  queue = 'cu'
  clusterOptions = '-v PATH'

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel:process_low {
        cpus   = 2
        memory = 12.GB
    }
    withLabel:process_medium {
        cpus   = 6
        memory = 72.GB
    }
    withLabel:process_high {
        cpus   = 12
        memory = 96.GB
    }
    withLabel:process_long {
        time   =  20.h
    }
    withLabel:process_high_memory {
        memory = 200.GB
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}
